:root {
  --gap: 24px;
  --content-gap: 20px;
  --nav-width: 1024px;
  --main-width: 1024px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;
  --border-style: 2px dashed var(--border); /* border style for post cover, toc, archive page */
  --theme: #fdf9e6;
  --entry: #f9f5d7;
  --primary: rgb(29, 29, 29);
  --secondary: rgb(66, 66, 66);
  --tertiary: #f9f5d7;
  --content: rgb(5, 5, 5);
  --hljs-bg: #fffce5;
  --code-bg: #fffce5;
  --border: #98971a;
}

.dark {
  --theme: #172336; /*background*/
  --entry: #1e2e47; /*post, ToC background*/
  --content: #7aff4c; /*main text*/
  --hljs-bg: #263958; /*code block background*/
  --border: #FFD700; /*tag and ToC border*/
  --primary: #68f439;
  --secondary: #ebebed;
  --tertiary: #b8bb26;
  --code-bg: rgb(55, 56, 62);
  --border-style: 2px dashed var(--border); /* border style for post cover, toc, archive page */
}